.loading {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  margin-left: 45px;
  animation: item-1 .5s linear infinite;
  animation-delay: .20s; }

.loading::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: -2rem;
  border-radius: 50%;
  height: 100%;
  background-color: blue;
  animation: item-1 .5s linear infinite;
  animation-delay: .2s; }

.loading::after {
  content: '';
  position: absolute;
  left: 2rem;
  border-radius: 50%;
  width: 100%;
  top: 0;
  height: 100%;
  background-color: yellow;
  animation: item-1 .5s linear infinite;
  animation-delay: .40s; }

@keyframes item-1 {
  0% {
    transform: translateY(-80%); }
  50% {
    transform: translateY(80%); }
  100% {
    transform: translateY(0); } }
/**reset**/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Monteserrat", sans-serif;
  min-height: 100vh;
  overflow-y: scroll;
  scrollbar-color: black;
  scrollbar-width: 3px; }

.grid__base-label {
  color: #45589b;
  border: 2px solid black;
  width: 150px;
  padding: 8px 12px;
  margin-left: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: 700; }
  @media only screen and (max-width: 500px) {
    .grid__base-label {
      font-size: 18px;
      margin: 10px 0 0 40px; } }

.currency__grid {
  display: flex;
  flex-direction: column; }

.grid__converter {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  @media only screen and (max-width: 500px) {
    .grid__converter {
      flex-direction: column;
      align-items: center; }
      .grid__converter > * {
        margin-top: 8px; } }

.grid__currency {
  border-radius: 8px;
  display: block;
  position: relative;
  padding: 16px 12px;
  margin: 18px 0;
  align-self: center;
  width: 80%;
  height: 200px;
  box-shadow: 3px 8px 15px 0 rgba(176, 176, 177, 0.5); }

.conveter_value {
  display: none; }

.converter_value.active {
  position: absolute;
  top: 10px;
  z-index: 10;
  width: 300px;
  padding: .45rem 1.5em;
  text-align: center;
  height: 100px;
  font-size: 1.4rem;
  background-color: #fff;
  box-shadow: 3px 8px 15px 0 rgba(176, 176, 177, 0.5); }

.grid__currency p {
  font-size: 30px; }

.currency__name, .currency__values-base p:nth-of-type(2), .currency__values-rate p:nth-of-type(2) {
  color: #45589b;
  font-weight: 800; }

.currency__values-base p:nth-of-type(2) {
  color: #23c51b;
  font-size: 26px; }

.currency__values-rate p:nth-of-type(2) {
  color: #ff3421;
  font-size: 26px; }

.currency__values {
  height: 80%;
  font-size: 18px;
  display: flex;
  justify-content: space-between; }

.currency__values p {
  font-size: 18px; }

input, select {
  border: 2px solid #45589b;
  outline: 0;
  background: transparent; }

.button {
  width: 100px;
  padding: 8px 12px; }
  .button:hover {
    background: #45589b;
    color: white;
    transition: 1s ease-in;
    transform-origin: left; }

/*# sourceMappingURL=styles.css.map */
